export NIX_CONFIG="experimental-features = nix-command flakes"

function use_flakes() {
  watch_file flake.nix
  watch_file flake.lock
  watch_file shell.nix
  eval "$(nix print-dev-env)"
}

use flakes